In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
df = pd.read_csv( "kc_house_data_clean.csv")

  je recupere les yr_renovated qui sont egale a 0 je leur donne l'ann√©es de construction 'yr_renovated' 
  pour eviter d'avoir des 0 dans 'yr_renovated'

df.loc[df['yr_renovated'] == 0, 'yr_renovated'] = df['yr_built']

#-- pour avoir tout le tableau dans sa largeur

In [20]:
pd.set_option('display.max_columns', None) #-- pour avoir tout le tableau dans sa largeur 

df.sort_values(by="floors")

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,annee,mois
0,0,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,2014,10
9511,9511,2015-04-17,267500.0,3,2.50,1400,7629,1.0,0,0,3,7,1120,280,1988,0,98030,47.3788,-122.179,1530,7688,2015,4
9513,9513,2014-05-06,404000.0,4,1.75,1840,10720,1.0,0,0,3,7,960,880,1958,0,98008,47.6074,-122.125,1840,9044,2014,5
9515,9515,2014-08-08,812500.0,4,2.75,2810,10300,1.0,0,0,4,9,1810,1000,1978,0,98006,47.5626,-122.149,2710,9900,2014,8
9516,9516,2014-07-03,265000.0,3,1.00,1020,8610,1.0,0,0,5,7,1020,0,1959,0,98056,47.4974,-122.169,1070,5940,2014,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18477,18477,2014-10-20,3300000.0,8,4.00,7710,11750,3.5,0,0,5,12,6090,1620,1904,0,98112,47.6263,-122.314,4210,8325,2014,10
11594,11594,2015-01-30,544000.0,3,2.50,1760,1755,3.5,0,0,3,8,1760,0,1998,0,98105,47.6688,-122.279,1700,1721,2015,1
20308,20308,2014-09-18,525000.0,2,2.75,1310,1268,3.5,0,0,3,8,1310,0,2007,0,98103,47.6534,-122.355,1350,1288,2014,9
14885,14885,2015-04-02,525000.0,3,3.00,1730,1074,3.5,0,0,3,8,1730,0,2006,0,98107,47.6692,-122.392,1370,1185,2015,4
875,875,2014-06-12,1095000.0,0,0.00,3064,4764,3.5,0,2,3,7,3064,0,1990,0,98102,47.6362,-122.322,2360,4000,2014,6

In [21]:
df.sort_values(by="price")

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,annee,mois
1149,1149,2015-02-17,75000.0,1,0.00,670,43377,1.0,0,0,3,3,670,0,1966,0,98022,47.2638,-121.906,1160,42882,2015,2
15293,15293,2014-05-06,78000.0,2,1.00,780,16344,1.0,0,0,1,5,780,0,1942,0,98168,47.4739,-122.280,1700,10387,2014,5
465,465,2014-05-23,80000.0,1,0.75,430,5050,1.0,0,0,2,4,430,0,1912,0,98014,47.6499,-121.909,1200,7500,2014,5
16198,16198,2015-03-24,81000.0,2,1.00,730,9975,1.0,0,0,1,5,730,0,1943,0,98168,47.4808,-122.315,860,9000,2015,3
8274,8274,2014-11-05,82000.0,3,1.00,860,10426,1.0,0,0,3,6,860,0,1954,0,98146,47.4987,-122.341,1140,11250,2014,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1448,1448,2015-04-13,5350000.0,5,5.00,8000,23985,2.0,0,4,3,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750,2015,4
4411,4411,2014-08-04,5570000.0,5,5.75,9200,35069,2.0,0,0,3,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345,2014,8
9254,9254,2014-09-19,6885000.0,6,7.75,9890,31374,2.0,0,4,3,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730,2014,9
3914,3914,2014-06-11,7062500.0,5,4.50,10040,37325,2.0,1,2,3,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449,2014,6
7252,7252,2014-10-13,7700000.0,6,8.00,12050,27600,2.5,0,3,4,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800,2014,10

remplacement par la moyenne des aberrations pour les 33 chambres et suppression une 0 salle de bain

In [22]:
max_bedrooms = df['bedrooms'].max()
mean_bedrooms = df['bedrooms'].mean()
df['bedrooms'] = df['bedrooms'].replace(max_bedrooms, mean_bedrooms)

# /////////////////  drop de bedrooms 0 et 33 //////////
# df = df.drop(df.loc[(df['bedrooms'] == 0) | (df['bedrooms'] == 33)].index)
# df.sort_values(by="bedrooms")


# df = df.drop(df.loc[(df['bathrooms'] == 0) | (df['bathrooms'] == 33)].index)
# df = df.drop(df[df['bathrooms'] == 0].index)
# # Cr√©er la colonne 'bed_bath_ratio'
df['bed_bath_ratio'] = df['bedrooms'] // df['bathrooms']
df['price/sqft_living'] = df['price'] // df['sqft_living']
df['price/sqft_lot'] = df['price'] // df['sqft_lot']

df

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,annee,mois,bed_bath_ratio,price/sqft_living,price/sqft_lot
0,0,2014-10-13,221900.0,3.0,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,2014,10,3.0,188.0,39.0
1,1,2014-12-09,538000.0,3.0,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,2014,12,1.0,209.0,74.0
2,2,2015-02-25,180000.0,2.0,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,2015,2,2.0,233.0,18.0
3,3,2014-12-09,604000.0,4.0,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,2014,12,1.0,308.0,120.0
4,4,2015-02-18,510000.0,3.0,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,2015,2,1.0,303.0,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,2014-05-21,360000.0,3.0,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,2014,5,1.0,235.0,318.0
21609,21609,2015-02-23,400000.0,4.0,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,2015,2,1.0,173.0,68.0
21610,21610,2014-06-23,402101.0,2.0,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,2014,6,2.0,394.0,297.0
21611,21611,2015-01-16,400000.0,3.0,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,2015,1,1.0,250.0,167.0
21612,21612,2014-10-15,325000.0,2.0,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,2014,10,2.0,318.0,302.0

In [23]:
# # Conversion de la colonne 'date' en objet datetime
# df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')

# # Extraction des composants d'ann√©e et de mois
# df['annee'] = df['date'].dt.year
# df['mois'] = df['date'].dt.month

r√©cup√©rer tous les codes postaux uniques

In [24]:
# Utiliser la m√©thode unique() pour r√©cup√©rer tous les codes postaux uniques
zipcodes_uniques = df['zipcode'].unique()

# Afficher les codes postaux uniques
print(zipcodes_uniques)

[98178 98125 98028 98136 98074 98053 98003 98198 98146 98038 98007 98115
 98107 98126 98019 98103 98002 98133 98040 98092 98030 98119 98112 98052
 98027 98117 98058 98001 98056 98166 98023 98070 98148 98105 98042 98008
 98059 98122 98144 98004 98005 98034 98075 98116 98010 98118 98199 98032
 98045 98102 98077 98108 98168 98177 98065 98029 98006 98109 98022 98033
 98155 98024 98011 98031 98106 98072 98188 98014 98055 98039]

Ins√®re les codes postaux uniques dans le tableau ( ce qui n'a servi √† rien)

In [25]:
# Obtenir les codes postaux uniques
zipcodes_uniques = df['zipcode'].unique()

# Boucle sur chaque code postal unique et ajoute une colonne correspondante √† df
for zipcode in zipcodes_uniques:
    # Cr√©er une nouvelle colonne pour le code postal
    df[zipcode] = pd.get_dummies(df['zipcode'].apply(lambda x: 1 if x==zipcode else 0))[1]

# grosse suppression de donn√©es 
        - les prix des maison de plus 1500000 (on garde les maison √† 1'500'000)
        - les surperficie du terrain des maison de plus 6000 
        - les maison qui on + de 2.4 (toutes les maison de 2.5 etage et plus )

In [26]:
# # supprimer les lignes o√π le prix est sup√©rieur √† 4 000 000
# df = df.drop(df[df['price'] > 1500000].index)
# df = df.drop(df[df['sqft_living'] > 6000].index)
# df = df.drop(df[df['floors'] > 2.4].index)
# df = df.drop(df[df['bedrooms'] == 0].index)
# df = df.drop(df[df['bedrooms'] > 7].index)
# df = df.drop(df[df['grade'] < 5].index)
# df = df.drop(df[df['grade'] > 10].index)


# df = df.drop(df[df['grade'] > 11].index)  --> ne pas toucher au grade





# # afficher les 10 prix les plus haut  20577
# df.nlargest(10, 'price')
df.shape

(21613, 96)

In [27]:
df.sort_values(by="price")

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,annee,mois,bed_bath_ratio,price/sqft_living,price/sqft_lot,98178,98125,98028,98136,98074,98053,98003,98198,98146,98038,98007,98115,98107,98126,98019,98103,98002,98133,98040,98092,98030,98119,98112,98052,98027,98117,98058,98001,98056,98166,98023,98070,98148,98105,98042,98008,98059,98122,98144,98004,98005,98034,98075,98116,98010,98118,98199,98032,98045,98102,98077,98108,98168,98177,98065,98029,98006,98109,98022,98033,98155,98024,98011,98031,98106,98072,98188,98014,98055,98039
1149,1149,2015-02-17,75000.0,1.0,0.00,670,43377,1.0,0,0,3,3,670,0,1966,0,98022,47.2638,-121.906,1160,42882,2015,2,inf,111.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
15293,15293,2014-05-06,78000.0,2.0,1.00,780,16344,1.0,0,0,1,5,780,0,1942,0,98168,47.4739,-122.280,1700,10387,2014,5,2.0,100.0,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
465,465,2014-05-23,80000.0,1.0,0.75,430,5050,1.0,0,0,2,4,430,0,1912,0,98014,47.6499,-121.909,1200,7500,2014,5,1.0,186.0,15.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
16198,16198,2015-03-24,81000.0,2.0,1.00,730,9975,1.0,0,0,1,5,730,0,1943,0,98168,47.4808,-122.315,860,9000,2015,3,2.0,110.0,8.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8274,8274,2014-11-05,82000.0,3.0,1.00,860,10426,1.0,0,0,3,6,860,0,1954,0,98146,47.4987,-122.341,1140,11250,2014,11,3.0,95.0,7.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1448,1448,2015-04-13,5350000.0,5.0,5.00,8000,23985,2.0,0,4,3,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750,2015,4,1.0,668.0,223.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4411,4411,2014-08-04,5570000.0,5.0,5.75,9200,35069,2.0,0,0,3,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345,2014,8,0.0,605.0,158.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9254,9254,2014-09-19,6885000.0,6.0,7.75,9890,31374,2.0,0,4,3,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730,2014,9,0.0,696.0,219.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3914,3914,2014-06-11,7062500.0,5.0,4.50,10040,37325,2.0,1,2,3,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449,2014,6,1.0,703.0,189.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7252,7252,2014-10-13,7700000.0,6.0,8.00,12050,27600,2.5,0,3,4,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800,2014,10,0.0,639.0,278.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

suppression des colonnes non pertinentes

In [28]:
df = df.drop(["Unnamed: 0" ,"date",'condition', "sqft_above",
               'yr_built','mois','annee',], axis=1)  # on va esseyer de supprimer la co
# print(df.price.corr(df['sqft_lot15']))
df.head(3)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,sqft_basement,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bed_bath_ratio,price/sqft_living,price/sqft_lot,98178,98125,98028,98136,98074,98053,98003,98198,98146,98038,98007,98115,98107,98126,98019,98103,98002,98133,98040,98092,98030,98119,98112,98052,98027,98117,98058,98001,98056,98166,98023,98070,98148,98105,98042,98008,98059,98122,98144,98004,98005,98034,98075,98116,98010,98118,98199,98032,98045,98102,98077,98108,98168,98177,98065,98029,98006,98109,98022,98033,98155,98024,98011,98031,98106,98072,98188,98014,98055,98039
0,221900.0,3.0,1.00,1180,5650,1.0,0,0,7,0,0,98178,47.5112,-122.257,1340,5650,3.0,188.0,39.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,538000.0,3.0,2.25,2570,7242,2.0,0,0,7,400,1991,98125,47.7210,-122.319,1690,7639,1.0,209.0,74.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,180000.0,2.0,1.00,770,10000,1.0,0,0,6,0,0,98028,47.7379,-122.233,2720,8062,2.0,233.0,18.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [29]:
# df = df.rename(columns={'bedrooms': 'chambres' ,  'bathrooms': 'salles de bain',  'sqft_living': 'surface √† vivre',
#                         'sqft_lot': 'surface du terrain' ,  'floors': 'Nb √©tage',  'condition': 'etat du bien',
#                           'grade': 'qualite construction' ,  'yr_built': 'ann√©e construction',  
#                           'yr_renovated': 'ann√©es renovation / construction',
#                           'zipcode': 'code postal' , 'sqft_living15'  : 'surface √† vivre des 15 voisin les plus proche',  
#                           'sqft_basement' :'surface sous-sol', 'view': 'qualite de la vue', "price" : "prix", "waterfront": "vue sur lac"
#                           ,'bed_bath_ratio':'ratio chambre/salle de bain'
#                           })
df.head(3)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,sqft_basement,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bed_bath_ratio,price/sqft_living,price/sqft_lot,98178,98125,98028,98136,98074,98053,98003,98198,98146,98038,98007,98115,98107,98126,98019,98103,98002,98133,98040,98092,98030,98119,98112,98052,98027,98117,98058,98001,98056,98166,98023,98070,98148,98105,98042,98008,98059,98122,98144,98004,98005,98034,98075,98116,98010,98118,98199,98032,98045,98102,98077,98108,98168,98177,98065,98029,98006,98109,98022,98033,98155,98024,98011,98031,98106,98072,98188,98014,98055,98039
0,221900.0,3.0,1.00,1180,5650,1.0,0,0,7,0,0,98178,47.5112,-122.257,1340,5650,3.0,188.0,39.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,538000.0,3.0,2.25,2570,7242,2.0,0,0,7,400,1991,98125,47.7210,-122.319,1690,7639,1.0,209.0,74.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,180000.0,2.0,1.00,770,10000,1.0,0,0,6,0,0,98028,47.7379,-122.233,2720,8062,2.0,233.0,18.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [30]:
# df = df.drop(df.loc[(df['chambres'] == 0) | (df['chambres'] == 33)].index)
# df
# df.sort_values(by="surface √† vivre")

In [31]:
# df.sort_values(by="chambres") # pour savoir si les maison ou il y a 0 ou 33 chambre sont supprimer 
# df

In [32]:
# matrix = df.corr()
# matrix

cr√©ation  du CSV pour la modelisation -- kc_house_data_modelisation.csv --

In [33]:
df.to_csv('kc_house_data_modelisation.csv')

suppression des colonnes pour avoir un csv des zipcode encoder puis cr√©ation du fichier zip_code_map.csv

In [34]:
df = df.drop([ "price",	"bedrooms"	,"bathrooms",	"sqft_living"	,"sqft_lot",	"floors",	"waterfront",
              "view",	"grade",	"sqft_basement",	"yr_renovated",
              "lat",	"long",	"sqft_living15",	"sqft_lot15",	"bed_bath_ratio",	"price/sqft_living"	,"price/sqft_lot"], axis=1)

df.to_csv("zip_code_map.csv" , index=False)

In [35]:


# # Obtenir les codes postaux uniques
# zipcodes_uniques = df['zipcode'].unique()

# # Cr√©er un DataFrame vide pour stocker la carte des codes postaux
# zip_code_map = pd.DataFrame(columns=['zip_code', 'zip_code_map'])

# # Boucle sur chaque code postal unique et ajoute une ligne correspondante au DataFrame zip_code_map
# for zipcode in zipcodes_uniques:
#     # Cr√©er un dictionnaire contenant le code postal et sa carte correspondante
#     data = {'zip_code': zipcode, 'zip_code_map': pd.get_dummies(df['zipcode'].apply(lambda x: 1 if x==zipcode else 0))[1].values}
#     # Ajouter la ligne au DataFrame zip_code_map
#     zip_code_map = zip_code_map.append(data, ignore_index=True)

# # Enregistrer le DataFrame zip_code_map en tant que fichier CSV
# zip_code_map.to_csv('zip_code_map.csv', index=False)

In [36]:
# # Obtenir les codes postaux uniques
# zipcodes_uniques = df['zipcode'].unique()

# # Boucle sur chaque code postal unique et ajoute une colonne correspondante √† df
# for zipcode in zipcodes_uniques:
#     # Cr√©er une nouvelle colonne pour le code postal
#     df[zipcode] = pd.get_dummies(df['zipcode'].apply(lambda x: 1 if x==zipcode else 0))[1]